<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus Route Finder</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body style="display: flex; align-items: center; flex-direction: column">
    <div class="header">
      <h1 style="margin: 10px;">Detailed Information on</h1>
      <h2 style="font-size: 1.5em;margin-top: 5px;font-weight: 400;">{{ readable_path }}</h2>
    </div>
    <div class="bus-stop-list">
      {% for result in ui.get_detailed_path_results() %}
      <li class="bus-stop-list">
        <ul class="bus-stop-list">
          <div class="bus-stop-item">
            <p class="bus-stop-description">
              {{ result.get_bus_stop_readable() }} {{
              result.get_road_description_readable() }}
            </p>
            <p class="bus-stop-road-name">
              {{ result.get_road_name_readable() }}
            </p>
          </div>
          <p style="margin-left: 20px;">{{ result.get_service_readable() }}</p>
        </ul>
        {% endfor %}
      </li>
    </div>
  </body>
</html>
