<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus Route Finder</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div
      style="
        width: 100vw;
        height: 100vh;
        background-color: #def3fd;
        text-align: center;
      "
    >
      <h1>Status</h1>
      <h2 id="main-status"></h2>
      <h3 id="sub-status"></h3>
    </div>
    <script src="/static/js/processing.js"></script>
  </body>
</html>
