<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus Route Finder</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/js/MiniSearch.js"></script>
    <script src="/static/js/index.js"></script>
  </head>
  <body>
    <div class="header">
      <h1 style="margin-bottom: 10px">Bus Route Advisory</h1>
      <p style="font-size: max(10px, 2vw)">
        Shows the possible route and distance from a stop
      </p>
    </div>
    <p style="color: red; font-size: large"><b>{{ ui.error_message }}</b></p>

    <form id="form" action="/processing" method="POST">
      <div class="form-table">
        <div class="row">
          <label class="field_heading" for="start_stop_code"
            >Starting Bus Stop Code:</label
          >
          <input
            id="start_stop_code"
            name="start_stop_code"
            onblur="showCode('start_stop_code')"
          />
          <p style="display: inline; padding-left: 10px"></p>
        </div>
        <div class="row">
          <label class="field_heading" for="end_stop_code"
            >Ending Bus Stop Code:</label
          >
          <input
            id="end_stop_code"
            name="end_stop_code"
            onblur="showCode('end_stop_code')"
          />
          <p style="display: inline; padding-left: 10px"></p>
        </div>
        <br />
        <div class="row">
          <p class="field_heading">Criteria:</p>
          <input
            type="radio"
            name="criteria"
            id="least_transfer"
            value="transfer"
          /><label for="least_transfer">Least Transfer</label
          ><input
            type="radio"
            name="criteria"
            id="least_distance"
            value="dist"
            required
          /><label for="least_distance">Least Distance</label>
        </div>
        <br />
      </div>
      <div style="display: flex; justify-content: center; padding-top: 10px">
        <input class="button" type="submit" value="Search" />
      </div>
    </form>
  </body>
</html>
